.login-content {
    height: 35vh;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 70px;
}

.left-size {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-size h3 {
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.left-size form {
    display: flex;
    flex-direction: column;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 30px;

    background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
    color: white;
}

.right-side h2 {
    font-size: 2rem;
    font-weight: bold;
}

.right-side p {
    font-size: 16px;
}