#wrapper {
    display: inline-block;
    margin: 20px;
}

#game-container {
    position: relative;
    display: inline-block;
}

#background {
    z-index: -1;
}

#game-canvas {
    position: absolute;
    z-index: 2;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-content {
    margin-top: 30px;
    height: 60vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
}

.game-nav {
    height: 120px;
    background-color: #252627;
}

.game-nav h3 {
    color: #f35587;
    font-family: "Arcade" !important;
    letter-spacing: 2px;
}

.game-nav p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: "Arcade" !important;
    text-align: center;

    margin-top: 10px;
}

.canvas {
    border: 1px solid black;
}